{% extends "homee.html.twig" %}
{% block body %}
    {% if not form.vars.valid %}
        <div class="alert alert-error color red">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <br><br><br>
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>

    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h2 class="contact-title">
            <br> <br>
            <b> Contact us! </b>
        </h2>
        <div class="form-group has-error">
            <br> <br><br><br><br>
            {{ form_start(form) }}
            <br><br><br>
            {{ form_widget(form.title,{'attr':{'type':'text','class':'form-control','placeholder':'Title...'}}) }}
            {{ form_errors(form.title) }}
            <br> <br>

            {{ form_widget(form.category,{'attr':{'type':'text','class':'form-control','placeholder':'category...'}}) }}
            {{ form_errors(form.category) }}
            <br> <br><br><br>
            {{ form_widget(form.description,{'attr':{'type':'textarea','class':'form-control','placeholder':'Description...'}}) }}
            {{ form_errors(form.description) }}
            <br> <br>
            {{ form_widget(form.photo,{'attr':{'type':'text','class':'form-control','placeholder':'photo...'}}) }}
            {{ form_errors(form.photo) }}
            <br> <br>
            {{ form_widget(form.Submit,{'attr':{'type':'text','class':'btn btn-common','placeholder':'Submit...'}}) }}

            <br> <br>
            {{ form_end(form) }}
            <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>


        </div>
    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <br><br><br>

        <div class="alert alert-warning" role="alert">
            <h3>
                In order to send a message to the administration you need to be connected, if you are not
                you can join us by clicking <a href="{{ path('fos_user_registration_register') }}">HERE</a>
                Or if you already have an account click <a href="{{ path('fos_user_security_login') }}" >HERE</a> to connect !
            </h3>

        </div>
    {% endif %}
{% endblock %}