{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->

    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="{{ path('list_post') }}">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ title|upper }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                        <img class="img-fluid rounded" src="{{ asset('uploads/post/' ~ photo) }}" alt="{{ title }}"
                                    </a>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">Blog</p>
                            <a href="product-details.html">
                                <h6>{{ title|upper }}</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-heart" aria-hidden="true"> {{ posts.likes | length }} J'aime </i>

                                </div>
                                <div class="review">
                                    <a href="#">{{ posts.postdate|date() }}</a>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i> {{ posts.creator }}</p>
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ descripion }}</p>
                        </div>

                    </div>
                </div>
    <!-- Product Details Area End -->
    <!-- Comments Form -->

                <div class="products-catagories-area clearfix">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form action="{{ path('add_comment') }}" method="post" id="comment">
                <div class="form-group">

                    <textarea class="form-control" id='word' name="comment" placeholder="leave comment..." rows="3"></textarea><br>
                    <input type="hidden"  name="post_id" value="{{ posts.getId() }}">
                </div>
                <button type="submit" id="submit" class="btn amado-btn">Submit</button>
            </form>

        </div>
    </div>
                {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                    <br>

                {% endif %}
    <!-- Single Comment -->
    {% for comment in posts.comments %}
        <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{ comment.getUser().getUsername() }}</h5>
            <p>{{ comment.getContent() }}</p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if(comment.user.id== app.user.id) %}

                    <a href="{{ path('delete_comment',{'id': comment.id}) }}"><button type="button" class="btn btn-sm btn-outline-alert">Delete</button></a>



                {% else %}


                {% endif %}
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <br>   <br>

            {% endif %}

        </div>
    {% endfor %}
    <!-- Comment with nested comments -->


    </div>
    <br><br><br><br><br>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->



    </div>
    </div></div>
    </div>
    <!-- /.row -->
    </div>
    </div>
    <!-- /.container -->
</div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        function editreview() {
            const input = document.getElementById('word');
            let badwords =/bashful|dopey|grumpy|happy|sleepy|doc/gi;
            let comment1=input.value;
            let comment2=comment1.replace(badwords,'****');
            document.getElementById('word').value=comment2 ;
        }
        document.getElementById('comment').addEventListener('click',editreview);
    </script>



{% endblock %}