{% extends 'fronthome.html.twig' %}



{% block body %}



<!--// Main Section \\-->
    <div class="environment-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>DERNIERES ANNONCES</h1>
                </div>
                <div class="col-md-12">
                    <ul class="environment-breadcrumb">
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li>Derniere annonces</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="container">
        <div class="row">

            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                 <marquee><p style="font-family:Century Gothic; font-size: 18pt">DERNIERES ANNONCES</p></marquee>
            </div>
        </div>
    </div>

<div class="environment-main-section">

    <div class="container">

        <div class="row">


            <div class="col-md-12">

                <div class="environment-project environment-project-grid">
                    <ul class="row">
                        <div id="annonce_container">
                        {%  for posts in posts %}
                        <li class="col-md-3">
                            <figure><a href="{{ path('show_detailed_annonce',{'id':annonces.id}) }}"><img src="{{ asset('uploads/annonce/' ~ annonces.photo) }}" alt=""><i class="fa fa-share-square-o"></i></a></figure>

                            <section>
                                <h5><a href="project-detail.html">{{ annonces.titre }}</a></h5>
                                <span>Nombre de Likes : {{ posts.likes|length }}</span>
                                <span>Date de publication : {{ posts.getDateannonce|date }}</span>
                            </section>
                        </li>
                   {% endfor %}
                    </ul>
                </div>
                <!--// Pagination \\-->
                <div class="environment-pagination">
                    <ul class="page-numbers">
                        <li><a class="previous page-numbers" href="404.html"><span aria-label="Next"><i class="fa fa-angle-left"></i></span></a></li>
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="404.html">2</a></li>
                        <li><a class="page-numbers" href="404.html">3</a></li>
                        <li><a class="page-numbers" href="404.html">4</a></li>
                        <li><a class="next page-numbers" href="404.html"><span aria-label="Next"><i class="fa fa-angle-right"></i></span></a></li>
                    </ul>
                </div>
                <!--// Pagination \\-->

            </div>

        </div>
    </div>
</div>
<!--// Main Section \\-->
</div>
{% endblock %}
{% block javascripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    function autoReload() {
        setTimeout(function() {
            $.ajax({
                url: 'http://127.0.0.1:8000/annonce',
                success: function(data) {
                    $("#annonce_container").load(" #annonce_container");
                }
            });

            autoReload();  // refraichir la page chaque 5 secondes
        }, 5000);
    }

    autoReload();
</script>

{% endblock %}