{% extends "manProduct.html.twig" %}
{% block titre %}Manage Depot{% endblock %}
{% block body %}

    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>

            <tr>
                <th>Entreprise</th>
                <th>Capacite</th>
                <th>Image</th>
                <th>Affecter</th>
            </tr>
            {%  for car in depots %}
            </thead>
            <tbody id="myTable">
            <tr>
                <td>{{ car.entreprise }}</td>
                <td>{{ car.capacite }}</td>
                <td><img width="100px" height="100px" src="{{ asset('uploads/images/depots/') }}{{ car.image }}"></td>
                {% if car.capacite == 0 %}
                    <td style="color:red">Saturé</td>
                {% else %}
                    <td style="color:green"><a href="{{ path('affecterD',{ 'idd': car.id ,'id': fournisseur.id }) }}" >Affecter</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    </div>



    </div>
    </div>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}