{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventcours list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomevent</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Image</th>
                <th>Nbplaces</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventcour in eventcours %}
            <tr>
                <td><a href="{{ path('eventcours_show', { 'id': eventcour.id }) }}">{{ eventcour.id }}</a></td>
                <td>{{ eventcour.nomEvent }}</td>
                <td>{{ eventcour.description }}</td>
                <td>{% if eventcour.dateDebut %}{{ eventcour.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ eventcour.image }}</td>
                <td>{{ eventcour.nbPlaces }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventcours_show', { 'id': eventcour.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventcours_edit', { 'id': eventcour.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventcours_new') }}">Create a new eventcour</a>
        </li>
    </ul>
{% endblock %}
